{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultados Dijkstra</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mi_app/css/seguimiento.css' %}">
</head>
<body>
    <div class="contenedor-tabla">
        <table id="tablaResultados">
            <thead>
                <tr>
                    <th>Source</th>
                    <th>Target</th>
                    <th>Distance</th>
                    <th>Path</th>
                </tr>
            </thead>
            <tbody>
                <!-- Se llena dinámicamente con JS -->
            </tbody>
        </table>
    </div>
    <script src="{% static 'mi_app/js/resultados.js' %}"></script>
</body>
</html>

